<article class="{{#isEven}}comment-even{{/isEven}}{{#isOdd}}comment-odd{{/isOdd}} {{#lowScore}}closed{{/lowScore}} p-3">

  <aside>
    <span>
      <a class="hide-children-btn" href="javascript:void(0)"></a>
    </span>

    <span>
      <a href="{{author_link}}" target="_blank" rel="nofollow noreferrer external">{{author}}</a>
    </span>
    {{#redditActive}}
    {{#score}}<span><b>{{score}} points</b></span>{{/score}}
    {{/redditActive}}

    {{#permalink}}<span><a href="{{permalink}}" rel="nofollow noreferrer external" target="_blank">{{subreddit}}</a></span>{{/permalink}}

    {{#created}}<span class="text-muted">{{created}}</span>{{/created}}
  </aside>

  {{#body_html}}

  {{& body_html}}
  {{/body_html}}

  <aside class="links text-right">
      <a href="{{thread}}" target="_blank" rel="nofollow noreferrer external" class="text-muted">View on {{config.serviceName}}</a>
  </aside>

  {{#hasReplies}}
  <div class="children">
    {{#replies}}
    {{> comment}}
    {{/replies}}

    {{#loadMore}}
    <div class="view-more my-2">
      <a href="javascript:void(0)" class="btn btn-secondary text-white">Show more comments</a>
    </div>
    {{/loadMore}}
  </div>

  {{/hasReplies}}

</article>
