<section>
  {{#data}}
  <div class="info">
    {{#score}}
    <h3>{{score}} upvotes {{#multiple}}over {{threads}} threads{{/multiple}} on {{config.serviceName}}</h3>
    {{/score}}
    {{^score}}
    <a target="_blank" href="{{submitUrl}}" class="no-comments btn btn-lg btn-outline-orange" rel="nofollow noreferrer external">
      Start discussion on {{config.serviceName}}
    </a>
    {{/score}}
  </div>

  {{#config.both}}
  {{#hasReddit}}
  {{#hasHn}}
  <div class="buttons btn-group my-3" role="group" aria-label="Comment source switch">
    <button type="button" class="reddit-btn btn btn-outline-orange {{#redditActive}} active{{/redditActive}}">
      Reddit
    </button>

    <button type="button" class="hn-btn btn btn-outline-orange button{{#hnActive}} active{{/hnActive}}">
      HackerNews
    </button>
  </div>
  {{/hasHn}}
  {{/hasReddit}}
  {{/config.both}}

  <div class="comments">
    {{#comments}}
    {{> comment}}
    {{/comments}}
  </div>

  {{#config.loadMore}}
  <div class="more-btn-container text-center my-3">
    <button class="btn btn-lg btn-outline-orange more-btn">Load more comments</button>
  </div>
  {{/config.loadMore}}

  {{/data}}
</section>
